In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
df = pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.Category.value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [5]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.2)
X_train

741                Yes i will be there. Glad you made it.
5346    My Parents, My Kidz, My Friends n My Colleague...
4317    I can't speak, bcaz mobile have problem. I can...
3963    You have been specially selected to receive a ...
2185    I know a few people I can hit up and fuck to t...
                              ...
2170    Shop till u Drop, IS IT YOU, either 10K, 5K, £...
361                Ha ha cool cool chikku chikku:-):-DB-)
2558    This message is brought to you by GMW Ltd. and...
4804                       How do you plan to manage that
3030                What is your record for one night? :)
Name: Message, Length: 4457, dtype: object

In [7]:
v = CountVectorizer()
X_train_cv = v.fit_transform(X_train.values) 
X_train_cv

<4457x7757 sparse matrix of type '<class 'numpy.int64'>'
	with 58778 stored elements in Compressed Sparse Row format>

In [8]:
X_train_cv.toarray()[:2][0]

array([0, 0, 0, ..., 0, 0, 0])

In [9]:
X_train_cv.shape

(4457, 7757)

In [10]:
v.get_feature_names_out()[6847]

'theoretically'

In [11]:
v.vocabulary_

{'yes': 7707,
 'will': 7537,
 'be': 1291,
 'there': 6851,
 'glad': 3163,
 'you': 7723,
 'made': 4319,
 'it': 3776,
 'my': 4686,
 'parents': 5098,
 'kidz': 3957,
 'friends': 3018,
 'colleagues': 1897,
 'all': 929,
 'screaming': 5976,
 'surprise': 6642,
 'and': 982,
 'was': 7406,
 'waiting': 7370,
 'on': 4955,
 'the': 6833,
 'sofa': 6293,
 'naked': 4704,
 'can': 1646,
 'speak': 6364,
 'bcaz': 1279,
 'mobile': 4564,
 'have': 3372,
 'problem': 5442,
 'listen': 4163,
 'but': 1595,
 'cann': 1655,
 'voice': 7334,
 'so': 6289,
 'calls': 1637,
 'later': 4046,
 'been': 1314,
 'specially': 6369,
 'selected': 6017,
 'to': 6956,
 'receive': 5633,
 '3000': 439,
 'award': 1190,
 'call': 1623,
 '08712402050': 109,
 'before': 1320,
 'lines': 4148,
 'close': 1856,
 'cost': 2029,
 '10ppm': 275,
 '16': 323,
 'cs': 2104,
 'apply': 1051,
 'ag': 874,
 'promo': 5468,
 'know': 3983,
 'few': 2836,
 'people': 5162,
 'hit': 3458,
 'up': 7208,
 'fuck': 3044,
 'mmmmmm': 4555,
 'love': 4243,
 'much': 4652,
 'ahmad': 893,
 'wait': 7367,
 'for': 2955,
 'this': 6873,
 'year': 7698,
 'begin': 1324,
 'as': 1112,
 'every': 2682,
 'second': 5991,
 'takes': 6703,
 'me': 4424,
 'closer': 1859,
 'being': 1331,
 'at': 1143,
 'your': 7727,
 'side': 6167,
 'happy': 3348,
 'new': 4778,
 'how': 3541,
 'trying': 7084,
 'get': 3130,
 'see': 6004,
 'in': 3659,
 'half': 3315,
 'an': 979,
 'hour': 3533,
 'kallis': 3915,
 'is': 3765,
 'ready': 5609,
 'bat': 1263,
 '2nd': 418,
 'innings': 3703,
 'shall': 6078,
 'come': 1913,
 'pickle': 5215,
 'day': 2200,
 'working': 7615,
 'except': 2709,
 'saturday': 5935,
 'sunday': 6614,
 '500': 549,
 'free': 2998,
 'text': 6804,
 'msgs': 4641,
 'just': 3899,
 'ok': 4940,
 '80488': 663,
 'we': 7432,
 'll': 4180,
 'credit': 2081,
 'account': 802,
 'no': 4815,
 'da': 2160,
 'if': 3623,
 'run': 5872,
 'that': 6829,
 'activate': 819,
 'full': 3054,
 'version': 7293,
 'still': 6493,
 'not': 4850,
 'checked': 1767,
 'which': 7507,
 'channel': 1740,
 'depends': 2274,
 'individual': 3685,
 'lor': 4224,
 'hair': 3311,
 'dresser': 2463,
 'say': 5943,
 'pretty': 5411,
 'look': 4215,
 'gong': 3193,
 'kaypoh': 3928,
 'also': 945,
 'dunno': 2505,
 'wat': 7412,
 'she': 6091,
 'collecting': 1900,
 'started': 6455,
 'send': 6030,
 'requests': 5734,
 'make': 4343,
 'pain': 5068,
 'came': 1642,
 'back': 1211,
 'bed': 1307,
 'double': 2437,
 'coins': 1890,
 'factory': 2761,
 'too': 6997,
 'gotta': 3217,
 'cash': 1689,
 'nitros': 4812,
 'nowadays': 4863,
 'are': 1074,
 'notixiquating': 4856,
 'laxinorficated': 4057,
 'opportunity': 4982,
 'bambling': 1231,
 'of': 4915,
 'entropication': 2629,
 'ever': 2681,
 'oblisingately': 4904,
 'opted': 4986,
 'ur': 7224,
 'books': 1451,
 'masteriastering': 4392,
 'amplikater': 972,
 'fidalfication': 2843,
 'very': 7294,
 'champlaxigating': 1732,
 'think': 6864,
 'atrocious': 1149,
 'wotz': 7629,
 'opinion': 4980,
 'junna': 3896,
 'id': 3610,
 'password': 5120,
 'private': 5432,
 '2003': 359,
 'statement': 6463,
 '07808247860': 39,
 'shows': 6150,
 '800': 652,
 'un': 7154,
 'redeemed': 5656,
 'points': 5298,
 '08719899229': 160,
 'identifier': 3616,
 'code': 1887,
 '40411': 492,
 'expires': 2736,
 '06': 20,
 '11': 277,
 '04': 15,
 'getting': 3138,
 'home': 3492,
 'honey': 3497,
 'boo': 1445,
 'missing': 4532,
 'review': 5784,
 'keep': 3931,
 'fantastic': 2790,
 'nokia': 4825,
 'gage': 3071,
 'game': 3079,
 'deck': 2226,
 'with': 7565,
 'club': 1866,
 'go': 3174,
 'www': 7658,
 'cnupdates': 1876,
 'com': 1907,
 'newsletter': 4785,
 'unsubscribe': 7203,
 'from': 3035,
 'alerts': 920,
 'reply': 5726,
 'word': 7609,
 'out': 5022,
 'ahhh': 892,
 'work': 7611,
 'vaguely': 7261,
 'remember': 5697,
 'what': 7491,
 'does': 2400,
 'feel': 2819,
 'like': 4130,
 'lol': 4207,
 'creepy': 2085,
 'crazy': 2074,
 'hello': 3413,
 'beautiful': 1297,
 've': 7283,
 'kinda': 3964,
 'ad': 825,
 'row': 5846,
 'wiv': 7572,
 'he': 3382,
 'walked': 7377,
 'pub': 5499,
 'wanted': 7394,
 'night': 4798,
 'miss': 4528,
 'may': 4417,
 'approve': 1059,
 'panalam': 5074,
 'should': 6137,
 'more': 4604,
 'posts': 5344,
 'do': 2390,
 'realize': 5616,
 'about': 776,
 '40': 487,
 'years': 7699,
 'thousands': 6886,
 'old': 4950,
 'ladies': 4017,
 'running': 5873,
 'around': 1097,
 'tattoos': 6731,
 'none': 4832,
 'happening': 3342,
 'til': 6919,
 'here': 3428,
 'though': 6883,
 'sexy': 6066,
 'cum': 2128,
 'im': 3639,
 'wet': 7487,
 'warm': 7399,
 'some': 6303,
 'porn': 5323,
 'fun': 3056,
 'msg': 4635,
 'recd': 5630,
 '150p': 311,
 'inc': 3661,
 'vat': 7278,
 'cancel': 1650,
 'stop': 6503,
 'good': 3196,
 'afternoon': 871,
 'goes': 3181,
 'did': 2317,
 'sleep': 6228,
 'hope': 3508,
 'well': 7467,
 'boytoy': 1495,
 'message': 4474,
 'am': 954,
 'truro': 7078,
 'hospital': 3522,
 'ext': 2746,
 'phone': 5203,
 'by': 1608,
 'time': 6922,
 'until': 7206,
 'prob': 5440,
 'or': 4989,
 'joy': 3880,
 'father': 2801,
 'john': 3863,
 'then': 6845,
 '____': 760,
 'ans': 1003,
 'ths': 6901,
 'hav': 3369,
 'lt': 4266,
 'gt': 3273,
 'iq': 3755,
 'tis': 6936,
 'ias': 3596,
 'question': 5538,
 'try': 7082,
 'answer': 1005,
 'hi': 3439,
 'its': 3784,
 'probably': 5441,
 'having': 3378,
 'thought': 6884,
 'txt': 7118,
 'cos': 2027,
 'bored': 1458,
 'james': 3807,
 'has': 3359,
 'farting': 2795,
 'uncles': 7160,
 'atlanta': 1146,
 'wish': 7557,
 'guys': 3293,
 'great': 3249,
 'semester': 6027,
 'where': 7502,
 'meeting': 4443,
 'attempt': 1152,
 'contract': 1997,
 'won': 7595,
 'weeks': 7457,
 'top': 7004,
 'prize': 5435,
 'either': 2567,
 '1000': 264,
 '200': 357,
 '09066361921': 231,
 'omg': 4953,
 'wedding': 7448,
 'chapel': 1741,
 'frontierville': 3038,
 'why': 7521,
 'they': 6857,
 'stuff': 6554,
 'watching': 7417,
 'tv': 7106,
 'spoke': 6404,
 'uncle': 7159,
 'today': 6962,
 'strongly': 6537,
 'feels': 2824,
 'need': 4746,
 'sacrifice': 5888,
 'going': 3185,
 'when': 7498,
 'beg': 1321,
 'dont': 2425,
 'any': 1015,
 'promises': 5467,
 'clear': 1844,
 'things': 6863,
 'easy': 2533,
 'please': 5262,
 'let': 4104,
 'us': 7238,
 'long': 4212,
 'expecting': 2728,
 'help': 3416,
 'creativity': 2080,
 'stifled': 6491,
 'pls': 5269,
 'him': 3449,
 'part': 5105,
 'tessy': 6797,
 'favor': 2806,
 'convey': 2003,
 'birthday': 1388,
 'wishes': 7559,
 'nimya': 4806,
 'dnt': 2389,
 'forget': 2962,
 'her': 3427,
 'shijas': 6103,
 'model': 4575,
 'num': 4875,
 'wishing': 7561,
 'family': 2782,
 'merry': 4471,
 'mas': 4388,
 'advance': 849,
 'life': 4120,
 'strict': 6530,
 'than': 6817,
 'teacher': 6747,
 'bcoz': 1285,
 'teaches': 6749,
 'lesson': 4102,
 'amp': 971,
 'conducts': 1961,
 'exam': 2706,
 'first': 2888,
 'lessons': 4103,
 'morning': 4608,
 'bank': 1237,
 'granite': 3238,
 'issues': 3774,
 'strong': 6536,
 'buy': 1599,
 'explosive': 2740,
 'pick': 5212,
 'our': 5020,
 'members': 4456,
 'over': 5037,
 '300': 438,
 'nasdaq': 4717,
 'symbol': 6679,
 'cdgt': 1709,
 '00': 0,
 'per': 5164,
 'eh': 2562,
 'laptop': 4036,
 'got': 3211,
 'stock': 6495,
 'lei': 4091,
 'mon': 4587,
 'muz': 4683,
 'again': 875,
 'take': 6701,
 'want': 7392,
 'kfc': 3946,
 'tuesday': 7095,
 'only': 4966,
 'meals': 4426,
 'gravy': 3245,
 'mark': 4376,
 'apps': 1062,
 'class': 1836,
 'varaya': 7272,
 'elaya': 2573,
 'wondar': 7596,
 'flim': 2911,
 'done': 2423,
 'england': 2609,
 'official': 4927,
 'poly': 5305,
 'ringtone': 5806,
 'colour': 1904,
 'flag': 2899,
 'yer': 7706,
 'tone': 6986,
 '84199': 693,
 'now': 4862,
 'opt': 4985,
 'eng': 2606,
 'box39822': 1484,
 'w111wx': 7351,
 '50': 548,
 '09090900040': 251,
 'extreme': 2750,
 'dirty': 2356,
 'live': 4173,
 'chat': 1756,
 'office': 4925,
 'right': 5798,
 'total': 7016,
 'privacy': 5431,
 'one': 4960,
 'knows': 3986,
 'sic': 6164,
 'listening': 4166,
 '60p': 586,
 'min': 4501,
 '24': 377,
 '7mp': 646,
 '0870753331018': 93,
 'sent': 6038,
 'jd': 3827,
 'customer': 2144,
 'service': 6049,
 'accounts': 804,
 'executive': 2717,
 'mail': 4336,
 'details': 2295,
 'contact': 1988,
 'tell': 6768,
 'little': 4172,
 'spreadsheet': 6419,
 'track': 7026,
 'whose': 7519,
 'idea': 3612,
 'smoke': 6266,
 'determine': 2296,
 'who': 7513,
 'smokes': 6268,
 'entire': 2625,
 'month': 4597,
 'february': 2815,
 '2p': 422,
 'germany': 3129,
 '08448350055': 64,
 'bt': 1560,
 'line': 4145,
 'check': 1766,
 'planettalkinstant': 5247,
 'info': 3690,
 'could': 2039,
 'read': 5605,
 'answered': 1006,
 'fran': 2988,
 'decided': 2222,
 'way': 7428,
 'completely': 1941,
 'broke': 1544,
 'knackered': 3976,
 'bout': 1472,
 '2mrw': 416,
 'janx': 3815,
 'dads': 2165,
 'fone': 2942,
 'infront': 3695,
 'them': 6842,
 'ya': 7683,
 'slow': 6245,
 'poo': 5313,
 're': 5598,
 'mu': 4650,
 'table': 6689,
 'lambda': 4022,
 'tomorrow': 6984,
 'never': 4775,
 'comes': 1915,
 'already': 942,
 'hunt': 3577,
 'don': 2422,
 'waste': 7409,
 'wonderful': 7599,
 'goodmorning': 3200,
 '10': 262,
 'sure': 6636,
 'dat': 2190,
 'woken': 7591,
 'meant': 4431,
 'opposed': 4983,
 'drunken': 2486,
 'bus': 1588,
 'soon': 6327,
 'otherwise': 5016,
 '750': 632,
 'anytime': 1026,
 'network': 4770,
 'mins': 4515,
 '150': 309,
 'video': 7302,
 'five': 2894,
 'pounds': 5351,
 'week': 7453,
 '08002888812': 54,
 'delivery': 2259,
 'released': 5688,
 'another': 1002,
 'italian': 3777,
 'cosign': 2028,
 'option': 4987,
 'oh': 4935,
 'charge': 1746,
 'camera': 1643,
 'aathi': 765,
 'dear': 2211,
 'grins': 3257,
 'babe': 1204,
 'thanks': 6821,
 'thinking': 6867,
 'computerless': 1950,
 'oreo': 5000,
 'truffles': 7076,
 'iam': 3595,
 'addicted': 829,
 'msging': 4637,
 'wrong': 7648,
 'sweet': 6661,
 'bslvyl': 1557,
 'awarded': 1191,
 'sipix': 6193,
 'digital': 2334,
 '09061221066': 195,
 'fromm': 3036,
 'landline': 4026,
 'within': 7568,
 '28': 388,
 'days': 2201,
 'dude': 2497,
 'haircut': 3312,
 'breezy': 1524,
 'hai': 3309,
 'priya': 5434,
 'doctor': 2396,
 'said': 5895,
 'pa': 5057,
 'many': 4366,
 'seems': 6011,
 'special': 6366,
 'sight': 6170,
 'remain': 5695,
 'till': 6920,
 'last': 4042,
 'maintain': 4341,
 'ends': 2603,
 'cr': 2059,
 'records': 5648,
 'indicate': 3684,
 'maybe': 4419,
 'entitled': 2627,
 '5000': 550,
 'compensation': 1932,
 'accident': 794,
 'had': 3304,
 'claim': 1829,
 'wen': 7470,
 'lovable': 4242,
 'bcums': 1288,
 'angry': 988,
 'wid': 7526,
 'seriously': 6047,
 'coz': 2056,
 'most': 4613,
 'childish': 1794,
 'true': 7074,
 'showing': 6147,
 'deep': 2233,
 'affection': 860,
 'care': 1670,
 'luv': 4282,
 'kettoda': 3942,
 'manda': 4357,
 'nice': 4791,
 'finish': 2877,
 'sorry': 6335,
 'pete': 5188,
 'ring': 5804,
 'meive': 4450,
 'hardly': 3353,
 'gotany': 3213,
 'would': 7631,
 'treated': 7054,
 'renewal': 5709,
 'away': 1192,
 'his': 3456,
 'chance': 1734,
 'search': 5986,
 'hard': 3349,
 'leh': 4090,
 'course': 2049,
 'nothing': 4853,
 'happen': 3338,
 'lar': 4037,
 'romantic': 5831,
 'jus': 3898,
 'bit': 1390,
 'thk': 6874,
 'nite': 4810,
 'scenery': 5955,
 'desperate': 2289,
 'armand': 1091,
 'paris': 5099,
 'nights': 4800,
 'flights': 2910,
 '79': 642,
 'book': 1447,
 'next': 4787,
 '08704439680ts': 88,
 'hows': 3545,
 'street': 6523,
 'end': 2597,
 'library': 4114,
 'walk': 7375,
 'de': 2206,
 'after': 869,
 'ill': 3635,
 'hot': 3527,
 'fantasies': 2789,
 '08707500020': 91,
 '20p': 367,
 'ntt': 4871,
 'ltd': 4267,
 'po': 5277,
 'box': 1476,
 '1327': 297,
 'croydon': 2098,
 'cr9': 2061,
 '5wb': 579,
 '0870': 71,
 'national': 4725,
 'rate': 5584,
 'holiday': 3487,
 'cute': 2149,
 'friendship': 3020,
 'necessary': 4741,
 'share': 6085,
 'secret': 5994,
 'frnd': 3026,
 'watever': 7420,
 'shared': 6086,
 'guild': 3287,
 'meet': 4441,
 'bristol': 1538,
 'road': 5817,
 'somewhere': 6317,
 'touch': 7019,
 'weekend': 7454,
 'plans': 5250,
 'flight': 2909,
 'news': 4783,
 'freefone': 3001,
 '08006344447': 58,
 'guaranteed': 3276,
 '2000': 358,
 'gift': 3145,
 'operator': 4979,
 'march': 4371,
 '09066362231': 234,
 'urgent': 7227,
 '07xxxxxxxxx': 45,
 '000': 1,
 'bonus': 1444,
 'caller': 1631,
 '02': 9,
 '03': 14,
 'reach': 5599,
 'asap': 1114,
 'hey': 3436,
 'late': 4045,
 'amk': 961,
 'drink': 2464,
 'tea': 6745,
 'coffee': 1888,
 'er': 2639,
 'yep': 7705,
 'props': 5479,
 'september': 6043,
 '08712402578': 110,
 'immediately': 3649,
 'knw': 3987,
 'dis': 2357,
 'liked': 4131,
 'lmao': 4183,
 'fish': 2889,
 'memory': 4460,
 'relatives': 5685,
 'coming': 1919,
 'deliver': 2256,
 'costs': 2032,
 'risks': 5813,
 'benefits': 1344,
 'anything': 1024,
 'else': 2581,
 'thts': 6903,
 'wright': 7640,
 'brother': 1549,
 'fly': 2929,
 'wot': 7627,
 'bitch': 1391,
 'yeah': 7697,
 'able': 774,
 'find': 2871,
 'didn': 2319,
 'include': 3666,
 'these': 6853,
 'hmmm': 3471,
 'hours': 3535,
 'slave': 6227,
 'punish': 5509,
 'chikku': 1792,
 'cell': 1718,
 'nt': 4868,
 'horrible': 3520,
 'gal': 3075,
 'knew': 3979,
 'wif': 7528,
 'yest': 7708,
 'ask': 1121,
 'mostly': 4614,
 'sports': 6413,
 'type': 7128,
 'lyk': 4292,
 'footbl': 2952,
 'crckt': 2076,
 'farm': 2793,
 'open': 4975,
 'sleeping': 6229,
 'surfing': 6638,
 'mailed': 4338,
 'varma': 7275,
 'kept': 3938,
 'copy': 2019,
 'regarding': 5673,
 'membership': 4457,
 'insha': 3708,
 'allah': 930,
 'black': 1398,
 'shirt': 6110,
 'blue': 1426,
 'jeans': 3830,
 'alright': 943,
 'goal': 3176,
 'printed': 5426,
 'upstairs': 7221,
 'phones': 5205,
 'price': 5417,
 'rental': 5712,
 '12': 284,
 'mths': 4646,
 'cross': 2095,
 'ntwk': 4872,
 '100': 263,
 'txts': 7124,
 'mobileupd8': 4568,
 '08001950382': 53,
 'call2optout': 1625,
 '674': 600,
 'big': 1368,
 'chic': 1786,
 'common': 1924,
 'declare': 2228,
 'telugu': 6774,
 'movie': 4624,
 'abt': 784,
 'forwarded': 2978,
 '448712404000': 509,
 '08712404000': 114,
 'booked': 1448,
 'sun': 6612,
 'liao': 4111,
 'sir': 6195,
 'senthil': 6040,
 'hsbc': 3553,
 'short': 6128,
 'person': 5178,
 'prove': 5484,
 'gud': 3278,
 'mrng': 4632,
 'dropped': 2476,
 'em': 2583,
 'off': 4917,
 'omw': 4954,
 'sad': 5889,
 'puppy': 5512,
 'noise': 4822,
 'win': 7539,
 '250': 381,
 'wk': 7574,
 'action': 817,
 '80608': 664,
 'movietrivia': 4626,
 'custcare': 2142,
 '08712405022': 116,
 '1x150p': 354,
 'aaooooright': 764,
 'neft': 4752,
 'transaction': 7036,
 'reference': 5659,
 'number': 4876,
 'rs': 5853,
 'decimal': 2224,
 'credited': 2082,
 'beneficiary': 1343,
 'messages': 4476,
 'valid': 7265,
 '31': 450,
 'december': 2219,
 '2005': 361,
 'sms': 6271,
 'services': 6050,
 'inclusive': 3668,
 'credits': 2083,
 'goto': 3216,
 'comuk': 1951,
 'net': 4764,
 'login': 4202,
 'extra': 2748,
 '08700469649': 73,
 'box420': 1486,
 'ip4': 3749,
 '5we': 580,
 'daddy': 2164,
 'lot': 4230,
 'happened': 3340,
 'quiet': 5543,
 'beth': 1352,
 'aunts': 1169,
 'charlie': 1751,
 'lots': 4232,
 'helen': 3409,
 'mo': 4560,
 'haha': 3307,
 'really': 5618,
 'deduct': 2232,
 'tmr': 6950,
 'ignoring': 3628,
 'shopping': 6126,
 'must': 4678,
 'sit': 6200,
 'summer': 6608,
 'celebrate': 1714,
 'such': 6584,
 'magical': 4329,
 'worlds': 7618,
 'dressed': 2462,
 'white': 7511,
 'oooooh': 4973,
 'snow': 6284,
 'invited': 3741,
 'xchat': 7665,
 'final': 2866,
 '86688': 702,
 'msgrcvdhg': 4640,
 'suite342': 6601,
 '2lands': 408,
 'w1j6hl': 7354,
 'ldn': 4066,
 '18': 328,
 'yrs': 7735,
 'mag': 4324,
 'avo': 1183,
 'point': 5297,
 'taking': 6705,
 'ure': 7226,
 'practical': 5365,
 'start': 6454,
 'june': 3894,
 'watch': 7413,
 'films': 2863,
 'leave': 4078,
 'hourish': 3534,
 'collect': 1898,
 'car': 1666,
 'oredi': 4999,
 'legs': 4089,
 'neck': 4743,
 'killing': 3960,
 'amigos': 960,
 'hoping': 3516,
 'burn': 1583,
 'swing': 6670,
 'winner': 7549,
 '087147123779am': 123,
 '7pm': 647,
 '10p': 274,
 'once': 4958,
 '0871277810810': 120,
 'story': 6516,
 'man': 4352,
 'wife': 7529,
 'forgot': 2966,
 'kids': 3956,
 'went': 7473,
 'even': 2676,
 'yup': 7744,
 'rain': 5563,
 'applebees': 1048,
 'fucking': 3047,
 'missed': 4530,
 'attend': 1154,
 'two': 7116,
 'rounds': 5844,
 'ffffffffff': 2839,
 'sooner': 6328,
 'mate': 4398,
 'guess': 3281,
 'quick': 5541,
 'ambitious': 956,
 'welcome': 7465,
 'improved': 3657,
 'sex': 6062,
 'dogging': 2407,
 'aluable': 950,
 'ffectionate': 2837,
 'oveable': 5036,
 'ternal': 6790,
 'oble': 4903,
 'ruthful': 5878,
 'ntimate': 4870,
 'atural': 1160,
 'namous': 4711,
 'valentines': 7264,
 'yupz': 7745,
 'slots': 6243,
 'weekends': 7455,
 ...}

In [12]:
X_train_np = X_train_cv.toarray()
X_train_np[:4][0]

array([0, 0, 0, ..., 0, 0, 0])

In [13]:
np.where(X_train_np[0]!=0)

(array([1291, 3163, 3776, 4319, 6851, 7537, 7707, 7723]),)

In [14]:
# X_train[:4][888] # first 4 sampels

In [15]:
X_train_np[0][1389]

0

In [16]:
# # naive bayes multinomial
# from sklearn.naive_bayes import MultinomialNB

# model = MultinomialNB()
# model.fit()

TF IDF

In [17]:
# Document Frequency (DF) = Number of times term t is present in all docs
# Inverse Document Frequency (IDF) = Total documents / number of documents term i is present in
# Term Frequency (TF) = Total number of time term t is present in doc A / Total number of tokens in doc A
# TF - IDF = TF(t,d) * IDF(t)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = [
    "Thor eating pizza, Loki is eating pizza, Ironman ate pizza already",
    "Apple is announcing new iphone tomorrow",
    "Tesla is announcing new model-3 tomorrow",
    "Google is announcing new pixel-6 tomorrow",
    "Microsoft is announcing new surface tomorrow",
    "Amazon is announcing new eco-dot tomorrow",
    "I am eating biryani and you are eating grapes"
]

In [19]:
#let's create the vectorizer and fit the corpus and transform them accordingly
v = TfidfVectorizer()
v.fit(corpus)
transform_output = v.transform(corpus)

In [20]:
#let's print the vocabulary

print(v.vocabulary_)

{'thor': 25, 'eating': 10, 'pizza': 22, 'loki': 17, 'is': 16, 'ironman': 15, 'ate': 7, 'already': 0, 'apple': 5, 'announcing': 4, 'new': 20, 'iphone': 14, 'tomorrow': 26, 'tesla': 24, 'model': 19, 'google': 12, 'pixel': 21, 'microsoft': 18, 'surface': 23, 'amazon': 2, 'eco': 11, 'dot': 9, 'am': 1, 'biryani': 8, 'and': 3, 'you': 27, 'are': 6, 'grapes': 13}

In [21]:
#let's print the idf of each word:

all_feature_names = v.get_feature_names_out()
print(all_feature_names)

['already' 'am' 'amazon' 'and' 'announcing' 'apple' 'are' 'ate' 'biryani'
 'dot' 'eating' 'eco' 'google' 'grapes' 'iphone' 'ironman' 'is' 'loki'
 'microsoft' 'model' 'new' 'pixel' 'pizza' 'surface' 'tesla' 'thor'
 'tomorrow' 'you']

In [22]:
for word in all_feature_names:
    
    #let's get the index in the vocabulary
    indx = v.vocabulary_.get(word)
    
    #get the score
    idf_score = v.idf_[indx]
    
    print(f"{word} : {idf_score}")

already : 2.386294361119891
am : 2.386294361119891
amazon : 2.386294361119891
and : 2.386294361119891
announcing : 1.2876820724517808
apple : 2.386294361119891
are : 2.386294361119891
ate : 2.386294361119891
biryani : 2.386294361119891
dot : 2.386294361119891
eating : 1.9808292530117262
eco : 2.386294361119891
google : 2.386294361119891
grapes : 2.386294361119891
iphone : 2.386294361119891
ironman : 2.386294361119891
is : 1.1335313926245225
loki : 2.386294361119891
microsoft : 2.386294361119891
model : 2.386294361119891
new : 1.2876820724517808
pixel : 2.386294361119891
pizza : 2.386294361119891
surface : 2.386294361119891
tesla : 2.386294361119891
thor : 2.386294361119891
tomorrow : 1.2876820724517808
you : 2.386294361119891

In [23]:
corpus[:2]

['Thor eating pizza, Loki is eating pizza, Ironman ate pizza already',
 'Apple is announcing new iphone tomorrow']

In [24]:
transform_output.toarray()[:2]

array([[0.24266547, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24266547, 0.        , 0.        ,
        0.40286636, 0.        , 0.        , 0.        , 0.        ,
        0.24266547, 0.11527033, 0.24266547, 0.        , 0.        ,
        0.        , 0.        , 0.72799642, 0.        , 0.        ,
        0.24266547, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.30652086,
        0.5680354 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5680354 ,
        0.        , 0.26982671, 0.        , 0.        , 0.        ,
        0.30652086, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.30652086, 0.        ]])

In [25]:
import pandas as pd

#read the data into a pandas dataframe
df = pd.read_csv("Ecommerce_data.csv")
print(df.shape)
df.head(5)

(24000, 2)

                                                Text                   label
0  Urban Ladder Eisner Low Back Study-Office Comp...               Household
1  Contrast living Wooden Decorative Box,Painted ...               Household
2  IO Crest SY-PCI40010 PCI RAID Host Controller ...             Electronics
3  ISAKAA Baby Socks from Just Born to 8 Years- P...  Clothing & Accessories
4  Indira Designer Women's Art Mysore Silk Saree ...  Clothing & Accessories

In [26]:
#check the distribution of labels to check imbalance in data
df['label'].value_counts()

label
Household                 6000
Electronics               6000
Clothing & Accessories    6000
Books                     6000
Name: count, dtype: int64

In [27]:
#Add the new column which gives a unique number to each of these labels 

df['label_num'] = df['label'].map({
    'Household' : 0, 
    'Books': 1, 
    'Electronics': 2, 
    'Clothing & Accessories': 3
})

#checking the results 
df.head(5)

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,2
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,3
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,3

In [28]:
#train test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df.Text, 
    df.label_num, 
    test_size=0.2, # 20% samples will go to test dataset
    random_state=2022,
    stratify=df.label_num
)

In [29]:
print("Shape of X_train: ", X_train.shape)
print("Shape of X_test: ", X_test.shape)

Shape of X_train:  (19200,)
Shape of X_test:  (4800,)

In [30]:
X_train.head()

15820    IRIS Furniture Children Deluxe Spiderman Toddl...
23224    Godox CB-09 Hard Carrying Storage Suitcase Car...
4638     Ugreen All in 1 USB 3.0 Card Reader USB Memory...
15245    Spread Spain Metallic Gold Bar Trolley/Kitchen...
5378     Chromozome Men's Calf Socks (Pack of 3) (SX-3 ...
Name: Text, dtype: object

In [31]:
print(y_train.value_counts())
print(y_test.value_counts())

label_num
0    4800
2    4800
3    4800
1    4800
Name: count, dtype: int64
label_num
0    1200
2    1200
3    1200
1    1200
Name: count, dtype: int64

In [32]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

from sklearn.naive_bayes import MultinomialNB


#1. create a pipeline object
clf = Pipeline([
     ('vectorizer_tfidf',TfidfVectorizer()),    
     ('Multi NB', MultinomialNB())         
])

#2. fit with X_train and y_train
clf.fit(X_train, y_train)


#3. get the predictions for X_test and store it in y_pred
y_pred = clf.predict(X_test)


#4. print the classfication report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.96      0.94      1200
           1       0.98      0.92      0.95      1200
           2       0.97      0.97      0.97      1200
           3       0.97      0.99      0.98      1200

    accuracy                           0.96      4800
   macro avg       0.96      0.96      0.96      4800
weighted avg       0.96      0.96      0.96      4800

In [37]:
df = pd.read_csv("Emotion_classify_Data.csv")
print(df.shape)
print(df.head(5))
print(df.value_counts('Emotion'))

(5937, 2)
                                             Comment Emotion
0  i seriously hate one subject to death but now ...    fear
1                 im so full of life i feel appalled   anger
2  i sit here to write i start to dig out my feel...    fear
3  ive been really angry with r and i feel like a...     joy
4  i feel suspicious if there is no one outside l...    fear
Emotion
anger    2000
joy      2000
fear     1937
Name: count, dtype: int64

In [40]:
df['Emotion_num'] = df['Emotion'].map({"anger":2,'joy':0,'fear':1})
df

                                                Comment Emotion  Emotion_num
0     i seriously hate one subject to death but now ...    fear            1
1                    im so full of life i feel appalled   anger            2
2     i sit here to write i start to dig out my feel...    fear            1
3     ive been really angry with r and i feel like a...     joy            0
4     i feel suspicious if there is no one outside l...    fear            1
...                                                 ...     ...          ...
5932                 i begun to feel distressed for you    fear            1
5933  i left feeling annoyed and angry thinking that...   anger            2
5934  i were to ever get married i d have everything...     joy            0
5935  i feel reluctant in applying there because i w...    fear            1
5936  i just wanted to apologize to you because i fe...   anger            2

[5937 rows x 3 columns]

In [50]:
X_train, X_test, y_train, y_test = train_test_split(
    df.Comment, 
    df.Emotion_num, 
    test_size=0.2, # 20% samples will go to test dataset
    random_state=2022,
    stratify=df.Emotion_num
)
print(X_train)
print(X_test)
print(X_train.shape)
print(X_test.shape)

4574    i feel so highly intimidated that i get fluste...
2534    i remember feeling a bit confused and really q...
5492    i get out if bed and look in the mirror i feel...
5393    i stopped feeling mad that the machine stole m...
4311    ive been hearing about too many things happeni...
                              ...
4718    i often feel so distressed and freaked out whe...
1416    i visited the psychologist all those years ago...
5709    i still feel that way because im stubborn like...
30                 i feel my heart shaky all the time now
3731    i feel strongly that what you identify as the ...
Name: Comment, Length: 4749, dtype: object
1700    i feel for the guy because i think he is since...
2930    i have begun to feel irrationally resentful an...
1951    i taught him what it can look like and how it ...
3224           im feeling so irritable about todays class
3650    i was catapulted back into feeling more terrif...
                              ...
287     i feel so heartless sometimes because i do not...
1348                       i was feeling annoyed suddenly
5854                            i feel so damn complacent
5617    i feel like im too frickin uptight to let loos...
5263    i feel myself redden my manhood has been insul...
Name: Comment, Length: 1188, dtype: object
(4749,)
(1188,)

In [51]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.naive_bayes import MultinomialNB

#1. create a pipeline object
clf = Pipeline([
     ('vectorizer_tfidf',TfidfVectorizer()),    
     ('random forest', RandomForestClassifier())         
])

#2. fit with X_train and y_train
clf.fit(X_train, y_train)


#3. get the predictions for X_test and store it in y_pred
y_pred = clf.predict(X_test)


#4. print the classfication report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.92       400
           1       0.91      0.91      0.91       388
           2       0.94      0.86      0.90       400

    accuracy                           0.91      1188
   macro avg       0.91      0.91      0.91      1188
weighted avg       0.91      0.91      0.91      1188

word embedding
word verctor in spacy

In [53]:
import spacy
nlp = spacy.load("en_core_web_lg")

In [58]:
doc = nlp("dog cat banana afskfsd")

for token in doc:
    print(token.text,  "Vector :", token.has_vector, "OOV: ", token.is_oov)

dog Vector : True OOV:  False
cat Vector : True OOV:  False
banana Vector : True OOV:  False
afskfsd Vector : False OOV:  True

In [60]:
base_token = nlp("bread")
base_token.vector.shape

(300,)

In [61]:
doc = nlp("bread sandwich burger car tiger human wheat")

for token in doc:
    print(f"{token.text} <-> {base_token.text}:", token.similarity(base_token))

bread <-> bread: 0.9999999744752309
sandwich <-> bread: 0.6341067010130894
burger <-> bread: 0.47520687769584247
car <-> bread: 0.06451532596945217
tiger <-> bread: 0.04764611675903374
human <-> bread: 0.2151154210812192
wheat <-> bread: 0.615036141030184

In [62]:
def print_similarity(base_word, words_to_compare):
    base_token = nlp(base_word)
    doc = nlp(words_to_compare)
    for token in doc:
        print(f"{token.text} <-> {base_token.text}: ", token.similarity(base_token))

In [63]:
print_similarity("iphone", "apple samsung iphone dog kitten")

apple <-> iphone:  0.4387907401919904
samsung <-> iphone:  0.6708590303423401
iphone <-> iphone:  0.9999999983096304
dog <-> iphone:  0.08211863729338828
kitten <-> iphone:  0.10222317834969896

In [68]:
king = nlp.vocab["king"].vector
man = nlp.vocab["man"].vector
woman = nlp.vocab["woman"].vector
queen = nlp.vocab["queen"].vector

result = king - man + woman

In [69]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity([result], [queen])

array([[0.6178014]], dtype=float32)